{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type='text/css' href="{% sass_src 'css/warning.scss' %}">
    <title>Document</title>
</head>
<body>
    <section class="wrapper">
     
             <div class="container">
     
                 <div id="scene" class="scene" data-hover-only="false">
     
     
                     <div class="circle" data-depth="1.2"></div>
     
                     <div class="one" data-depth="0.9">
                         <div class="content">
                             <span class="piece"></span>
                             <span class="piece"></span>
                             <span class="piece"></span>
                         </div>
                     </div>
     
                     <div class="two" data-depth="0.60">
                         <div class="content">
                             <span class="piece"></span>
                             <span class="piece"></span>
                             <span class="piece"></span>
                         </div>
                     </div>
     
                     <div class="three" data-depth="0.40">
                         <div class="content">
                             <span class="piece"></span>
                             <span class="piece"></span>
                             <span class="piece"></span>
                         </div>
                     </div>
     
                     <!-- <p class="p404" data-depth="0.50">404</p>
                     <p class="p404" data-depth="0.10">404</p> -->
                     <img class="p404" data-depth="0.10" src="{% static 'images/steam_logo.png' %}"/>
     
                 </div>
     
                 <div class="text">
                     <article>
                         <p>Các chỉ số do hệ thống đề xuất chỉ là kết quả thử nghiệm. CHÚNG TÔI KHÔNG KHUYẾN KHÍCH ĐẦU TƯ VỚI MỌI HÌNH THỨC</p>
                         <a href="/real-time-chart"><button>Realtime</button></a>
                         <hr>
                         <a href="/daily-chart"><button>Daily</button></a>
                     </article>
                 </div>
     
             </div>
    </section>
    <script src="{% static 'js/warning.js' %}"></script>
</body>
</html>